<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"> 
</head>
<style>
    body {
        background-color: rgb(24, 24, 24);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: 'Inconsolata', monospace;
        letter-spacing: 0.2vh;
    }

    .incand-form {
        height: 70vh;
        width: 55vh;
        background-color: rgb(255, 255, 255);
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .credentials{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #user-label{
        padding: 2vh;
        text-align: center;
    }
    #password-label{
        padding: 2vh;
        text-align: center;
    }
    .both{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50vh;
        width: 50vh;
    }
    .admin-text{
        font-size: 5vh;
        margin: 1vh;
    }
    #username-text{
        margin: 1vh;
        padding: 1vh;
        border-radius: 5%;
        width: 17vw;
    }
    #password-text{
        margin: 1vh;
        padding: 1vh;
        border-radius: 5%;
        width: 17vw;
    }
    #submit{
        margin: 1vh;
        padding: 1vh;
        background-color: rgb(24, 24, 24);
        color: rgb(255, 255, 255);
        width: 17vw;
        
    }
    .container{
        color: red;
        text-align: center;
    }
</style>

<body>