<% include ./partials/header %>
<div>
    <a href="/contact">Contact Us Information</a>
<div>

<div>
    <a href="/event">Registration Information</a>
</div>

<div>
    <a href="/queries">Queries Information</a>
</div>