<% include ./partials/header %>
<form action="/login" method="POST" class="incand-form">
    <div class="both">
    <div class="admin-text">
        Admin Panel
    </div>
    <div class="credentials">
    <label for="username" id="user-label">Username</label>
    <input type="username" name="username" id="username-text" placeholder="Enter Your Username">
    <label for="password" id="password-label">Password</label>
    <input type="password" name="password" id="password-text" placeholder="Enter your Password">
    <button type="submit" id="submit">Log In</button>
    <div class=container>
            <%= message%> 
      </div>
    </div>
    </div>
</form>