<% include ./partials/header %>
<form action="/registerIncand" method="POST" class="incand-form">
    <div class="both">
    <div class="admin-text">
        Register For Incandescence 2019
    </div>
    <div class="credentials">
    <label for="username" id="user-label">Event Name</label>
    <input type="username" name="event" id="username-text" placeholder="Enter Event Name">
    <label for="password" id="password-label">Details</label>
    <input type="text" name="details" id="password-text" placeholder="Enter Details">
    <button type="submit" id="submit">Register</button>
    </div>
    </div>
</form>